.b25_4_4-a {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.b25_4_4-a0 {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--mainFont);
  font-size: inherit;
  font-weight: inherit;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.b25_4_4-a1 {
  border-radius: 99px;
}
.b25_4_4-a2 {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
}
.b25_4_4-a2.b25_4_4-a3 {
  visibility: hidden;
}
.b25_4_4-a4 {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.b25_4_4-a5 {
  width: 100%;
}
.b25_4_4-a3,
.b25_4_4-a6 {
  cursor: default;
}
.b25_4_4-a7 .b25_4_4-a2 {
  justify-content: space-between;
}
.b25_4_4-a8 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.b25_4_4-a9 {
  display: block;
}
.b25_4_4-b {
  margin-left: 8px;
}
.b25_4_4-a9,
.b25_4_4-b,
.b25_4_4-b0 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.b25_4_4-b1 {
  flex-shrink: 0;
  margin-right: 8px;
}
.b25_4_4-b2 {
  padding: 8px 12px;
}
.b25_4_4-b2 .b25_4_4-a2 {
  height: 16px;
}
.b25_4_4-b3 {
  border-radius: 12px;
  padding: 16px 24px;
}
.b25_4_4-b3.b25_4_4-a1 {
  border-radius: 99px;
}
.b25_4_4-b3.b25_4_4-a7 {
  padding-right: 12px;
}
.b25_4_4-b3 .b25_4_4-b.b25_4_4-b4 {
  border-radius: 4px;
  padding: 4px 8px;
}
.b25_4_4-b5 {
  border-radius: 16px;
  padding: 24px 32px;
}
.b25_4_4-b5.b25_4_4-a1 {
  border-radius: 99px;
}
.b25_4_4-b5.b25_4_4-a7 {
  padding-right: 16px;
}
.b25_4_4-b5 .b25_4_4-b.b25_4_4-b4 {
  border-radius: 4px;
  padding: 8px 12px;
}
.b25_4_4-b6 {
  background-color: var(--bgActionPrimary);
  color: var(--textLightKey);
}
.b25_4_4-b6 .b25_4_4-b1 {
  color: var(--graphicPrimaryOnDark);
}
.b25_4_4-b6 .b25_4_4-b.b25_4_4-b4 {
  background-color: var(--clearLightKey300);
}
.b25_4_4-b6 .b25_4_4-a {
  background-color: var(--textLightKey);
}
.b25_4_4-b7 {
  background-color: var(--bgActionSecondary);
  color: var(--textAction);
}
.b25_4_4-b7 .b25_4_4-b1 {
  color: var(--graphicActionPrimary);
}
.b25_4_4-b7 .b25_4_4-b.b25_4_4-b4 {
  background-color: var(--bgActionSecondary);
}
.b25_4_4-b7 .b25_4_4-a {
  background-color: var(--textAction);
}
.b25_4_4-b8 {
  background-color: var(--bgAccentPrimary);
  color: var(--textLightKey);
}
.b25_4_4-b8 .b25_4_4-b1 {
  color: var(--graphicPrimaryOnDark);
}
.b25_4_4-b8 .b25_4_4-b.b25_4_4-b4 {
  background-color: var(--clearLightKey400);
}
.b25_4_4-b8 .b25_4_4-a {
  background-color: var(--textLightKey);
}
.b25_4_4-b9 {
  background-color: var(--bgAccentSecondary);
  color: var(--textAccent);
}
.b25_4_4-b9 .b25_4_4-b1 {
  color: var(--graphicAccentPrimary);
}
.b25_4_4-b9 .b25_4_4-b.b25_4_4-b4 {
  background-color: var(--bgAccentSecondary);
}
.b25_4_4-b9 .b25_4_4-a {
  background-color: var(--textAccent);
}
.b25_4_4-c {
  background-color: var(--bgNegativeSecondary);
  color: var(--textNegative);
}
.b25_4_4-c .b25_4_4-b1 {
  color: var(--graphicNegativePrimary);
}
.b25_4_4-c .b25_4_4-b.b25_4_4-b4 {
  background-color: var(--bgNegativeSecondary);
}
.b25_4_4-c .b25_4_4-a {
  background-color: var(--textNegative);
}
.b25_4_4-a6 {
  background-color: var(--bgSecondary);
  color: var(--textPrimary);
}
.b25_4_4-a6 .b25_4_4-a9,
.b25_4_4-a6 .b25_4_4-b,
.b25_4_4-a6 .b25_4_4-b0,
.b25_4_4-a6 .b25_4_4-b1 {
  opacity: 0.4;
}
.b25_4_4-a6 .b25_4_4-b1 {
  color: var(--graphicTertiary);
}
.b25_4_4-a6 .b25_4_4-b.b25_4_4-b4 {
  background-color: var(--clearDarkKey100);
}
.b25_4_4-a6 .b25_4_4-a {
  background-color: var(--textPrimary);
}
@media (hover: hover) {
  .b25_4_4-a:not(.b25_4_4-c0):hover {
    opacity: 0.1;
  }
}
