.uw_da5 {
  padding: 10px 20px;
}
.uw_d8a,
.uw_da5 {
  border-radius: 12px;
}
.uw_d8a {
  align-items: center;
  box-sizing: border-box;
  color: #070707;
  display: flex;
  gap: 8px;
  min-height: 48px;
  padding: 5px 8px;
}
.uw_d8a .uw_a9d {
  color: rgba(0, 26, 52, 0.2);
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}
.uw_d8a .uw_da9 {
  max-height: 32px;
  width: 32px;
}
.uw_d8a.uw_d9a,
.uw_d8a:hover {
  background: #f5f7fa;
  color: #005bff;
}
.uw_d8a.uw_d9a .uw_a9d,
.uw_d8a:hover .uw_a9d {
  color: #005bff;
}
.uw_e7a {
  border: 1px solid rgba(204, 214, 228, 0.6);
  border-radius: 12px;
  box-sizing: border-box;
}
.uw_e7a.uw_ae8,
.uw_e7a:hover {
  background: #f5f7fa;
  border-color: #f5f7fa;
}
.uw_a8e {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #070707;
  cursor: pointer;
  display: flex;
  font-family: var(--mainFont);
  gap: 12px;
  margin: 0;
  padding: 12px;
  width: 100%;
}
.uw_a8e .uw_ea8 {
  height: 36px;
  position: relative;
  width: 36px;
}
.uw_a8e .uw_ea8 img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.uw_a8e .uw_ea8 .uw_e8a {
  visibility: visible;
}
.uw_a8e .uw_ea8 .uw_ae9 {
  visibility: hidden;
}
.uw_a8e .uw_a9e {
  color: rgba(0, 26, 52, 0.4);
  margin-left: auto;
}
.uw_a8e .uw_a9e.uw_ea9 {
  transform: rotate(-90deg);
}
.uw_a8e .uw_a9e.uw_e9a {
  transform: rotate(180deg);
}
.uw_a8e.uw_af,
.uw_a8e:hover {
  color: #005bff;
}
.uw_a8e.uw_af .uw_ea8.uw_fa .uw_e8a,
.uw_a8e:hover .uw_ea8.uw_fa .uw_e8a {
  visibility: hidden;
}
.uw_a8e.uw_af .uw_ea8.uw_fa .uw_ae9,
.uw_a8e:hover .uw_ea8.uw_fa .uw_ae9 {
  visibility: visible;
}
.uw_a8e.uw_af .uw_a9e,
.uw_a8e:hover .uw_a9e {
  color: #005bff;
}
.uw_a5d {
  gap: 14px;
}
.uw_a5d,
.uw_ae {
  display: flex;
  flex-direction: column;
}
.uw_ae {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  gap: 8px;
  page-break-inside: avoid;
  width: 100%;
}
.uw_ae button {
  background-color: transparent;
  border: 0;
  font-family: var(--mainFont);
  margin: 0;
  padding: 0;
  text-align: left;
}
.uw_ea {
  color: #070707;
}
.uw_ae0 {
  align-items: center;
  color: rgba(0, 26, 52, 0.6);
  display: flex;
}
.uw_ae0.uw_a0e {
  color: #005bff;
}
.uw_ae0 .uw_ea0 {
  transition: 0.3s;
}
.uw_ae0.uw_e0a .uw_ea0 {
  transform: rotate(180deg);
}
.uw_ae0,
.uw_ea {
  cursor: pointer;
}
.uw_ae0:hover,
.uw_ea:hover {
  color: var(--accentColor);
}
.uw_d5a {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.uw_a6d {
  align-items: flex-end;
  display: flex;
  gap: 8px;
}
.uw_da6 {
  color: rgba(0, 26, 52, 0.6);
  margin-bottom: 6px;
}
.uw_d6a {
  display: flex;
  gap: 56px;
}
.uw_a7d {
  width: calc(100% - 164px);
}
.uw_a7d,
.uw_da7 {
  display: flex;
  gap: 30px;
}
.uw_da7 {
  flex-direction: column;
  width: calc(33% - 20px);
}
.uw_d7a {
  flex-direction: column;
  gap: 18px;
}
.uw_a8d,
.uw_d7a {
  display: flex;
  width: 108px;
}
.uw_a8d {
  align-items: center;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  height: 80px;
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  position: relative;
}
.uw_a8d .uw_da8 {
  max-height: 100%;
  max-width: 100%;
}
.uw_a8d:after {
  background: rgba(0, 48, 120, 0.039);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.uw_a4e {
  background-color: #f5f7fa;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 295px;
  padding: 30px;
  width: calc(66.66% - 7px);
}
.uw_ea4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-width: 350px;
  width: 100%;
}
.uw_e4a {
  margin-top: auto;
}
.uw_ae3 {
  background-color: #f5f7fa;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 295px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: calc(33.33% - 11px);
}
.uw_a3e {
  bottom: 0;
  height: 66.66%;
  left: 50%;
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
}
.uw_a3e.uw_ea3,
.uw_e3a {
  height: 100%;
}
.uw_e3a {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.uw_ae4 {
  margin-top: auto;
}
.uw_a2e {
  background-color: #f5f7fa;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  height: 180px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  width: calc(33.33% - 11px);
}
.uw_ea2 {
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 0;
}
.uw_e2a {
  gap: 4px;
  height: 100%;
  justify-content: center;
  width: 66.66%;
}
.uw_ae5,
.uw_e2a {
  display: flex;
  flex-direction: column;
  position: relative;
}
.uw_ae5 {
  align-items: center;
  background-color: #f5f7fa;
  border-radius: 16px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  overflow: hidden;
  width: calc(20% - 12.8px);
}
.uw_ae5:before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media screen and (min-width: 1472px) {
  .uw_ae5 {
    width: calc(16.66% - 13.33px);
  }
}
.uw_a5e {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.uw_ea5 {
  height: 40px;
  margin: 20px 0 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  width: 100%;
}
.uw_e5a {
  align-items: center;
  display: flex;
  height: calc(100% - 60px);
  justify-content: center;
  max-height: 66.66%;
  width: 100%;
}
.uw_ae6 {
  gap: 60px;
  min-width: 949px;
}
.uw_a6e,
.uw_ae6 {
  display: flex;
  flex-direction: column;
}
.uw_a6e {
  gap: 20px;
}
.uw_ea6 {
  align-items: flex-end;
  display: flex;
}
.uw_e6a {
  flex-direction: column;
}
.uw_ae7,
.uw_e6a {
  display: flex;
  gap: 16px;
}
.uw_a7e,
.uw_ea7 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.uw_ae1 {
  background: #fff;
  bottom: 0;
  height: calc(100vh - 160px);
  left: 0;
  overflow: auto;
  padding: 14px 0;
  position: fixed;
  right: 0;
  transition: 0.3s;
  z-index: 1000;
}
.uw_a1e,
.uw_ae1 {
  box-sizing: border-box;
  width: 100%;
}
.uw_a1e {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1472px;
  min-width: 1280px;
  padding: 0 28px 0 15px;
  position: relative;
}
.uw_ea1 {
  overflow-y: auto;
  padding-right: 12px;
  width: 282px;
}
.uw_e1a {
  background: rgba(0, 48, 120, 0.039);
  border-radius: 30px;
  margin: 0 24px 0 12px;
  width: 1px;
}
.uw_ae2 {
  overflow-y: auto;
  width: calc(100% - 331px);
}
.uw_af0 {
  margin-bottom: -16px;
  padding-bottom: 16px;
  position: relative;
}
.uw_a0f {
  display: none;
}
.uw_fa0 {
  background: #fff;
  bottom: 0;
  height: calc(100vh - 160px);
  left: 0;
  overflow: auto;
  padding: 14px 0;
  position: fixed;
  right: 0;
  transition: 0.3s;
  z-index: 1000;
}
.uw_f0a,
.uw_fa0 {
  box-sizing: border-box;
  width: 100%;
}
.uw_f0a {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1472px;
  min-width: 1280px;
  padding: 0 28px 0 15px;
  position: relative;
}
.uw_af1 {
  overflow-y: auto;
  padding-right: 12px;
  width: 282px;
}
.uw_a1f {
  background: rgba(0, 48, 120, 0.039);
  border-radius: 30px;
  margin: 0 24px 0 12px;
  width: 1px;
}
.uw_fa1 {
  overflow-y: auto;
  width: calc(100% - 331px);
}
