.uw_ap2 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
}
.uw_a2p {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.uw_pa2 {
  bottom: 0;
  color: transparent;
  display: block;
  font-size: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
