.b95_3_3-a4 {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.b95_3_3-a4,
.b95_3_3-a5 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.b95_3_3-a5 {
  background-color: hsla(0, 0%, 100%, 0.6);
  bottom: 0;
  color: var(--ozTextPrimary);
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.b95_3_3-a6 {
  margin-top: 4px;
  text-align: center;
}
.b95_3_3-a {
  max-height: 100%;
  max-width: 100%;
}
.b95_3_3-a0 {
  height: 100%;
  overflow: hidden;
}
.b95_3_3-a1 {
  visibility: hidden;
}
@supports (filter: blur(8px)) {
  .b95_3_3-a1 {
    filter: blur(8px);
    visibility: visible;
  }
}
.b95_3_3-a2 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.b95_3_3-a3 {
  border-radius: 12px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.b95_3_3-a3:after {
  background-color: var(--ozWhite2);
  border-radius: 12px;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
