.c5_3_7-a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  font-family: var(--mainFont);
  justify-content: center;
  vertical-align: top;
}
.c5_3_7-a0 {
  border-radius: 4px;
  height: 4px;
  min-width: 4px;
}
.c5_3_7-a1 {
  border-radius: 4px;
  height: 8px;
  min-width: 8px;
}
.c5_3_7-a2 {
  border-radius: 6px;
  height: 12px;
  min-width: 12px;
}
.c5_3_7-a2.c5_3_7-a3 {
  padding: 0 3px;
}
.c5_3_7-a4 {
  height: 16px;
  min-width: 16px;
}
.c5_3_7-a4.c5_3_7-a3 {
  padding: 0 4px;
}
.c5_3_7-a5 {
  height: 20px;
  min-width: 20px;
}
.c5_3_7-a5.c5_3_7-a3 {
  padding: 0 6px;
}
.c5_3_7-a5.c5_3_7-a6 {
  padding: 2px;
}
.c5_3_7-a7 {
  height: 24px;
  min-width: 24px;
}
.c5_3_7-a7.c5_3_7-a3 {
  padding: 0 8px;
}
.c5_3_7-a7.c5_3_7-a6 {
  padding: 4px;
}
.c5_3_7-a8 {
  height: 28px;
  min-width: 28px;
}
.c5_3_7-a8.c5_3_7-a3 {
  padding: 0 8px;
}
.c5_3_7-a8.c5_3_7-a6 {
  padding: 6px;
}
.c5_3_7-a4,
.c5_3_7-a5,
.c5_3_7-a7,
.c5_3_7-a8 {
  border-radius: 64px;
}
