.b6 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.b7.b8 {
  min-height: auto;
}
.b9 {
  box-shadow: 0 120px 50px 15px var(--ozParandja);
  margin: 0 auto;
  max-width: var(--desktop-screen-l);
  padding-top: 120px;
  width: 100% !important;
}
.n1 {
  background: var(--layerFloor1);
  min-height: 100px;
  min-width: 288px;
}
.n1.n2 .n3 {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 16px;
}
.n4 {
  color: var(--bgActionPrimary);
  padding: 100px 220px;
  text-align: center;
}
.n4.n5 {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0;
  width: 100%;
}
