.a6 {
  transition: var(--transition);
  transition-property: color;
}
.a7 {
  color: var(--textPrimary);
}
.a7[href]:hover {
  color: var(--graphicActiveActionPrimary);
  cursor: pointer;
}
.a8 {
  color: var(--textLightKey);
  cursor: pointer;
}
.a8[href]:hover {
  color: var(--textOriginalpriceAvailable);
}
.tsHeadXXL {
  font-size: var(--headXXLFont);
  line-height: var(--headXXLLine);
}
.tsHeadXL,
.tsHeadXXL {
  font-weight: var(--fontBold);
  letter-spacing: var(--letter04);
}
.tsHeadXL {
  font-size: var(--headXLFont);
  line-height: var(--headXLLine);
}
.tsHeadL {
  font-size: var(--headLFont);
  font-weight: var(--fontBold);
  letter-spacing: var(--letter04);
  line-height: var(--headLLine);
}
.tsHeadM {
  font-weight: var(--fontBold);
}
.tsHeadM,
.tsHeadMItalic {
  font-size: var(--headMFont);
  letter-spacing: var(--letter04);
  line-height: var(--headMLine);
}
.tsHeadMItalic {
  font-style: italic;
  font-weight: var(--fontMedium);
}
.tsBodyXLBold {
  font-weight: var(--fontBold);
  letter-spacing: var(--letter04);
}
.tsBodyXL,
.tsBodyXLBold {
  font-size: var(--bodyXLFont);
  line-height: var(--bodyXLLine);
}
.tsBodyXL {
  font-weight: var(--fontNormal);
}
.tsBodyLBold,
.tsBodyLBoldItalic,
.tsBodyLMedium {
  font-size: var(--bodyLFont);
  font-weight: var(--fontMedium);
  letter-spacing: var(--letter02);
  line-height: var(--bodyLLine);
}
.tsBodyLBoldItalic {
  font-style: italic;
}
.tsBodyL {
  font-size: var(--bodyLFont);
  font-weight: var(--fontNormal);
  letter-spacing: var(--letter02);
  line-height: var(--bodyLLine);
}
.tsBodyMBold,
.tsBodyMMedium {
  font-weight: var(--fontMedium);
}
.tsBodyM,
.tsBodyMBold,
.tsBodyMMedium {
  font-size: var(--bodyMFont);
  letter-spacing: var(--letter02);
  line-height: var(--bodyMLine);
}
.tsBodyM {
  font-weight: var(--fontNormal);
}
.tsBodyMAC {
  letter-spacing: var(--letter08);
  text-transform: uppercase;
}
.tsBodyMAC,
.tsBodyMBoldMonospace {
  font-size: var(--bodyMFont);
  font-weight: var(--fontMedium);
  line-height: var(--bodyMLine);
}
.tsBodyMBoldMonospace {
  font-variant-numeric: var(--tabularNums);
}
.tsBadgeBoldAC {
  font-size: var(--badgeXSFont);
  font-weight: var(--fontBold);
  letter-spacing: var(--letter02);
  line-height: var(--badgeXSLine);
}
.tsCaption,
.tsCaptionItalic {
  font-size: var(--captionFont);
  font-weight: var(--fontNormal);
  letter-spacing: var(--letter02);
  line-height: var(--captionLine);
}
.tsCaptionItalic {
  font-style: italic;
}
.tsCaptionBold,
.tsCaptionBoldItalic {
  font-size: var(--captionFont);
  font-weight: var(--fontMedium);
  letter-spacing: var(--letter02);
  line-height: var(--captionLine);
}
.tsCaptionBoldItalic {
  font-style: italic;
}
.tsCaptionAC {
  letter-spacing: var(--letter06);
  text-transform: uppercase;
}
.tsCaptionAC,
.tsCaptionMonospace {
  font-size: var(--captionFont);
  font-weight: var(--fontMedium);
  line-height: var(--captionLine);
}
.tsCaptionMonospace {
  font-variant-numeric: var(--tabularNums);
}
.tsPromoXXLItalic {
  font-size: var(--promoXXLFont);
  font-style: italic;
  font-weight: var(--fontMedium);
  letter-spacing: var(--letter06);
  line-height: var(--promoXXLLine);
}
.a0 {
  display: grid;
  grid-auto-rows: 0;
  grid-template: 100%/100%;
  min-height: 100vh;
  position: relative;
}
.a0.a1 {
  min-width: var(--desktop-screen-s);
}
.a0.a1,
.a0.a2 {
  display: flex;
  flex-direction: column;
}
.a3 {
  max-width: 100vw;
}
.a4 {
  image-rendering: pixelated;
}
.a5 {
  text-rendering: optimizeSpeed;
}
.a {
  --headXXLFont: 1.3rem;
  --headXXLLine: 1.5rem;
  --headXLFont: 1.2rem;
  --headXLLine: 1.5rem;
  --headLFont: 1.1rem;
  --headLLine: 1.5rem;
  --headMFont: 1.1rem;
  --headMLine: 1.5rem;
  --bodyMFont: 1.1rem;
  --bodyMLine: 1.5rem;
  --bodyLFont: 1.1rem;
  --bodyLLine: 1.5rem;
  --captionFont: 1rem;
  --captionLine: 1.5rem;
}
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li::marker {
  content: "";
  display: none;
}
img {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  word-spacing: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
html {
  font-size: 100.1%;
  overflow-y: scroll;
}
body {
  background-color: #fff;
  color: var(--ozBlack);
  font-size: var(--bodyMFont);
  font-weight: var(--fontNormal);
  line-height: var(--bodyMLine);
  min-height: 100%;
}
body,
td,
tfoot,
th,
thead {
  letter-spacing: normal;
  text-transform: none;
  word-spacing: normal;
}
td,
tfoot,
th,
thead {
  font-size: 1em;
}
th {
  font-weight: var(--fontMedium);
  vertical-align: baseline;
}
p {
  margin: 5px 0 10px;
}
h1,
h2,
h3 {
  font-weight: var(--fontBold);
}
b,
h4,
h5,
h6,
strong {
  font-weight: var(--fontSemiBold);
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.8em;
}
a {
  color: var(--ozBlue);
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: var(--ozBlueHover);
}
input,
option,
select,
textarea {
  font-family: var(--mainFont);
  font-size: 100.1%;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: none;
  word-spacing: normal;
}
small {
  font-size: 0.9em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ol {
  margin: 5px 0 5px 20px;
  padding: 0 0 0 10px;
}
ol li {
  margin: 4px 0;
  padding: 0;
}
font:not([color]) {
  color: inherit;
}
.reset-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}
body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--mainFont);
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.custom-pdp-tooltip {
  animation: disappear 0.3s;
  position: absolute;
}
.custom-pdp-tooltip.open {
  animation: appear 0.3s;
}
body > .custom-pdp-tooltip {
  margin: 0;
  max-width: 300px;
  padding: 5px 0;
  position: relative;
  z-index: 23;
}
.custom-pdp-tooltip .tooltip-arrow {
  border-style: solid;
  height: 0;
  left: calc(50% - 5px);
  margin: 0 5px;
  position: absolute;
  width: 0;
  z-index: 1;
}
.custom-pdp-tooltip[x-placement="top"] .tooltip-arrow {
  border-color: #fff transparent transparent !important;
  border-width: 5px 5px 0;
  bottom: 0;
}
.custom-pdp-tooltip[x-placement="bottom"] .tooltip-arrow {
  border-color: transparent transparent #fff !important;
  border-width: 0 5px 5px;
  top: 0;
}
.custom-pdp-tooltip[x-placement="right"] .tooltip-arrow {
  border-width: 0;
}
.custom-pdp-tooltip .tooltip-inner {
  background: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow);
  color: var(--ozBlack);
  font-size: 14px;
  padding: 18px 23px;
}
.tsBodyXL {
  font-family: var(--title-font);
  font-size: var(--headMFont);
  letter-spacing: var(--letter04);
  line-height: var(--headMLine);
}
.tsBodyMLong {
  font-size: var(--bodyMFont);
  line-height: 20px;
}
.tsBold {
  font-weight: var(--fontBold);
}
.modAlly {
  --headXXLFont: 1.3rem;
  --headXXLLine: 1.5rem;
  --headXLFont: 1.2rem;
  --headXLLine: 1.5rem;
  --headLFont: 1.1rem;
  --headLLine: 1.5rem;
  --headMFont: 1.1rem;
  --headMLine: 1.5rem;
  --bodyMFont: 1.1rem;
  --bodyMLine: 1.5rem;
  --bodyLFont: 1.1rem;
  --bodyLLine: 1.5rem;
  --captionFont: 1rem;
  --captionLine: 1.5rem;
}

