.a25_3_10-a {
  display: inline-flex;
}
.a25_3_10-a0 {
  display: flex;
}
.a25_3_10-a0,
.a25_3_10-a1 {
  height: 100%;
  width: 100%;
}
.a25_3_10-a2 {
  height: 100%;
}
.a25_3_10-a3 {
  min-width: auto;
  width: 100% !important;
}
.a25_3_10-a4 {
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  height: inherit;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  white-space: normal;
}
.a25_3_10-a5 {
  box-sizing: content-box;
  margin: -8px;
  padding: 8px;
}
.a25_3_10-a6 {
  cursor: default;
}
.a25_3_10-a7 {
  background-color: var(--ozBGSecondary);
}
.a25_3_10-a8 {
  cursor: default;
  pointer-events: none;
}
.a25_3_10-a9 {
  animation: a25_3_10-b 2s ease-in-out infinite;
  pointer-events: none;
}
.a25_3_10-b0 {
  white-space: nowrap;
}
.a25_3_10-b1 {
  align-items: center;
  background-color: var(--ozCtrlPrimary);
  box-sizing: border-box;
  color: var(--ozTextPrimaryNegative);
  display: inline-flex;
  font-family: var(--mainFont);
  font-size: 14px;
  font-weight: 600;
  height: inherit;
  justify-content: center;
  line-height: 18px;
  min-height: 32px;
  min-width: 96px;
  padding: 0 12px;
  text-align: center;
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out,
    opacity 0.3s ease-in-out;
  z-index: 9999;
}
@media (hover: hover) {
  .a25_3_10-b1:hover {
    background-color: var(--ozHoverPrimary);
  }
}
.a25_3_10-b1.a25_3_10-a6 {
  background-color: var(--ozCtrlNeutralPale);
  color: var(--ozTextQuaternary);
  pointer-events: none;
}
.a25_3_10-b1.a25_3_10-b2 {
  padding-bottom: 9px;
  padding-top: 9px;
}
.a25_3_10-b1.a25_3_10-b2.a25_3_10-b3 {
  padding-bottom: 4px;
  padding-top: 6px;
}
.a25_3_10-b4 {
  transition: none;
}
.a25_3_10-b5 {
  font-weight: 400;
}
.a25_3_10-b6 {
  min-height: 40px;
  min-width: 120px;
  padding: 0 12px;
}
.a25_3_10-b3 {
  min-height: 48px;
  min-width: 192px;
  padding: 0 20px;
}
.a25_3_10-b7 {
  min-height: 56px;
  min-width: 224px;
  padding: 0 24px;
}
.a25_3_10-b3,
.a25_3_10-b6,
.a25_3_10-b7 {
  font-size: 16px;
  line-height: 20px;
}
.a25_3_10-b8 {
  background-color: var(--ozCtrlPositive);
  color: var(--ozTextPrimaryNegative);
}
@media (hover: hover) {
  .a25_3_10-b8:hover {
    background-color: var(--ozHoverPositive);
  }
}
.a25_3_10-b9 {
  background-color: var(--ozCtrlSale);
  color: var(--ozTextPrimaryNegative);
}
@media (hover: hover) {
  .a25_3_10-b9:hover {
    background-color: var(--ozHoverSale);
  }
}
.a25_3_10-c {
  background-color: var(--ozCtrlPrimaryPale);
  color: var(--ozTextAction);
}
@media (hover: hover) {
  .a25_3_10-c:hover {
    background-color: var(--ozHoverPrimaryPale);
    color: var(--ozHoverPrimary);
  }
}
.a25_3_10-c0 {
  background-color: var(--ozTextPrimaryNegative);
  color: var(--ozAccentPrimary);
}
@media (hover: hover) {
  .a25_3_10-c0:hover {
    background-color: var(--ozBGPrimaryHover);
    color: var(--ozAccentPrimaryHover);
  }
}
.a25_3_10-c1 {
  background-color: transparent;
  color: var(--ozAccentPrimary);
}
@media (hover: hover) {
  .a25_3_10-c1:hover {
    background-color: transparent;
    color: var(--ozAccentPrimaryHover);
  }
}
.a25_3_10-c2,
.a25_3_10-c3 {
  background-color: var(--ozBGPrimary);
  color: var(--ozTextPrimary);
}
@media (hover: hover) {
  .a25_3_10-c2:hover,
  .a25_3_10-c3:hover {
    background-color: var(--ozBGPrimaryHover);
    color: var(--ozTextPrimary);
  }
}
.a25_3_10-c4 {
  background-color: var(--ozBGTertiary);
  border: 1px solid var(--ozBGPrimary);
  color: var(--ozTextPrimary);
}
@media (hover: hover) {
  .a25_3_10-c4:hover {
    background-color: var(--ozBGPrimary);
    color: var(--ozTextPrimary);
  }
}
.a25_3_10-c5 {
  background-color: var(--ozTransparent);
  color: var(--ozTextAction);
  font-size: inherit;
  font-weight: inherit;
  min-height: auto;
  min-width: auto;
  padding: 0 !important;
}
.a25_3_10-c5.a25_3_10-b6 {
  font-weight: 600;
}
.a25_3_10-c5.a25_3_10-c6 {
  text-align: left;
}
.a25_3_10-c5.a25_3_10-c7 {
  text-align: right;
}
@media (hover: hover) {
  .a25_3_10-c5:hover {
    background-color: var(--ozTransparent);
    color: var(--ozHoverPrimary);
  }
}
.a25_3_10-c5.a25_3_10-a6 {
  background-color: var(--ozTransparent);
  color: var(--ozTextQuaternary);
}
.a25_3_10-c8 {
  background-color: var(--ozTransparent);
  color: var(--ozTextSale);
  font-size: inherit;
  font-weight: inherit;
  min-height: auto;
  min-width: auto;
  padding: 0 !important;
}
.a25_3_10-c8.a25_3_10-b6 {
  font-weight: 600;
}
.a25_3_10-c8.a25_3_10-c6 {
  text-align: left;
}
.a25_3_10-c8.a25_3_10-c7 {
  text-align: right;
}
@media (hover: hover) {
  .a25_3_10-c8:hover {
    background-color: var(--ozTransparent);
    color: var(--ozHoverSale);
  }
}
.a25_3_10-c8.a25_3_10-a6 {
  background-color: var(--ozTransparent);
  color: var(--ozTextQuaternary);
}
.a25_3_10-c9 {
  background-color: var(--ozTextPrimaryNegative);
  box-shadow: var(--boxShadow);
  color: var(--ozTextPrimary);
}
@media (hover: hover) {
  .a25_3_10-c9:hover {
    background-color: var(--ozCtrlPrimary);
    color: var(--ozTextPrimaryNegative);
  }
}
.a25_3_10-d {
  background-color: var(--ozParandja);
  color: var(--ozTextPrimaryNegative);
}
@media (hover: hover) {
  .a25_3_10-d:hover {
    background-color: var(--ozParandjaHover);
  }
}
.a25_3_10-d0 {
  background-color: var(--ozCtrlSalePale);
  color: var(--ozAccentAlert);
}
@media (hover: hover) {
  .a25_3_10-d0:hover {
    background-color: var(--ozHoverSalePale);
    color: var(--ozHoverSale);
  }
}
.a25_3_10-d1 {
  background-color: var(--ozBGSecondary);
  color: var(--ozTextSale);
}
@media (hover: hover) {
  .a25_3_10-d1:hover {
    background-color: var(--ozBGPrimaryHover);
    color: var(--ozHoverSale);
  }
}
.a25_3_10-d2 {
  background-color: var(--ozCtrlPositivePale);
  color: var(--ozTextPositive);
}
@media (hover: hover) {
  .a25_3_10-d2:hover {
    background-color: var(--ozHoverPositivePale);
    color: var(--ozHoverPositive);
  }
}
.a25_3_10-d3 {
  background-color: var(--ozBGSecondary);
  color: var(--ozTextPositive);
}
@media (hover: hover) {
  .a25_3_10-d3:hover {
    background-color: var(--ozBGPrimaryHover);
    color: var(--ozHoverPositive);
  }
}
.a25_3_10-d4 {
  background-color: var(--ozGreenPale);
  color: var(--ozTextPrimary);
}
@media (hover: hover) {
  .a25_3_10-d4:hover {
    background-color: var(--ozGreenPale);
  }
}
.a25_3_10-d5 {
  background-color: var(--ozButtonVideoControl);
}
@media (hover: hover) {
  .a25_3_10-d5:hover {
    background-color: var(--ozDimming);
  }
}
.a25_3_10-d6 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  min-height: auto;
  min-width: auto !important;
  padding: 0 !important;
  width: auto;
}
.a25_3_10-d6,
.a25_3_10-d6.a25_3_10-a6 {
  background: var(--ozTransparent);
}
@media (hover: hover) {
  .a25_3_10-d6:hover {
    background-color: var(--ozTransparent);
  }
}
.a25_3_10-d7 {
  background-color: var(--ozCtrlFresh);
  color: var(--ozTextPrimaryNegative);
}
@media (hover: hover) {
  .a25_3_10-d7:hover {
    background-color: var(--ozHoverFresh);
    color: var(--ozTextPrimaryNegative);
  }
}
.a25_3_10-d8 {
  background-color: var(--ozCtrlFreshPale);
  color: var(--ozTextFresh);
}
@media (hover: hover) {
  .a25_3_10-d8:hover {
    background-color: var(--ozHoverFreshPale);
    color: var(--ozHoverFresh);
  }
}
.a25_3_10-d9 {
  background-color: var(--ozBGSecondary);
  color: var(--ozTextFresh);
}
@media (hover: hover) {
  .a25_3_10-d9:hover {
    background-color: var(--ozBGPrimaryHover);
    color: var(--ozHoverFresh);
  }
}
.a25_3_10-e {
  background-color: var(--ozBGSecondary);
  color: var(--ozTextPrimary);
}
@media (hover: hover) {
  .a25_3_10-e:hover {
    background-color: var(--ozBGPrimaryHover);
    color: var(--ozTextPrimary);
  }
}
.a25_3_10-e.a25_3_10-a6 {
  background-color: var(--ozBGSecondary);
  color: var(--ozTextQuaternary);
}
.a25_3_10-e0 {
  background: linear-gradient(
    to right,
    var(--ozButtonGradientStart) 0,
    var(--ozButtonGradientEnd) 100%
  );
  color: var(--ozTextPrimaryNegative);
}
@media (hover: hover) {
  .a25_3_10-e0:hover {
    background: linear-gradient(
        var(--ozButtonGradientHoverOverlay),
        var(--ozButtonGradientHoverOverlay)
      ),
      linear-gradient(
        to right,
        var(--ozButtonGradientStart) 0,
        var(--ozButtonGradientEnd) 100%
      );
  }
}
.a25_3_10-e0.a25_3_10-a6 {
  background-image: none;
}
.a25_3_10-e1 {
  background-color: var(--ozCtrlNeutralPale);
  color: var(--ozTextPrimary);
}
@media (hover: hover) {
  .a25_3_10-e1:hover {
    background-color: var(--ozHoverNeutralPale);
  }
}
.a25_3_10-e2 {
  min-width: auto !important;
}
.a25_3_10-e3 {
  min-height: auto !important;
}
.a25_3_10-e4 {
  border-bottom-color: var(--ozCtrlPrimary);
  color: var(--ozTextPrimary);
}
.a25_3_10-e5 {
  border-bottom-color: var(--ozSeparator);
  color: var(--ozTextSecondary);
}
.a25_3_10-e6 {
  flex-flow: column nowrap;
}
.a25_3_10-e4,
.a25_3_10-e5 {
  background: var(--ozBGSecondary);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.68px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (hover: hover) {
  .a25_3_10-e4:hover,
  .a25_3_10-e5:hover {
    background-color: var(--ozBGSecondary);
    border-bottom-color: var(--ozAccentPrimaryPale);
    color: var(--ozHoverPrimary);
  }
}
.a25_3_10-e7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.a25_3_10-e8 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.a25_3_10-e9 {
  flex-shrink: 0;
  margin-left: 0;
  margin-right: 6px;
}
.a25_3_10-e9.a25_3_10-b3,
.a25_3_10-e9.a25_3_10-b7 {
  margin-right: 8px;
}
.a25_3_10-f {
  padding: 0.5rem 0.87rem;
}
.a25_3_10-f0 {
  min-width: 0;
  padding: 4px;
}
.a25_3_10-f0.a25_3_10-b6 {
  padding: 8px;
}
.a25_3_10-f0.a25_3_10-b3 {
  padding: 12px;
}
.a25_3_10-f0.a25_3_10-b7 {
  padding: 16px;
}
.a25_3_10-f0 .a25_3_10-e9 {
  margin: 0;
}
.a25_3_10-f1 {
  flex-direction: row-reverse;
}
.a25_3_10-f1 .a25_3_10-e9 {
  margin-left: 6px;
  margin-right: 0;
}
.a25_3_10-f1.a25_3_10-b3 .a25_3_10-e9,
.a25_3_10-f1.a25_3_10-b7 .a25_3_10-e9 {
  margin-left: 8px;
  margin-right: 0;
}
.a25_3_10-f2 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes a25_3_10-b {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
