
.social-login-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

.social-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.75rem;
}

.google-icon {
  background: url('/images/google-icon.svg') no-repeat center;
  background-size: contain;
}

.facebook-icon {
  background: url('/images/facebook-icon.svg') no-repeat center;
  background-size: contain;
}
