.b85_3_8-a {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.b85_3_8-a .b85_3_8-a0 {
  max-height: 100%;
  width: 100%;
}
.b85_3_8-a1.b85_3_8-a2 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.b85_3_8-a1.b85_3_8-a2 .b85_3_8-a3 {
  height: 100%;
  width: 100%;
}
.b85_3_8-a4 {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.b85_3_8-a4:after {
  content: "";
  display: block;
  padding-top: var(--percentage-ratio);
}
.b85_3_8-a4 .b85_3_8-a5 {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.b85_3_8-a6 {
  height: 100%;
  width: 100%;
}
.b85_3_8-a7 {
  position: relative;
}
.b85_3_8-a8 {
  background-color: var(--layerOverlayParanja);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
