.ag5_5_0-a {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.ag5_5_0-a0 {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--mainFont);
  font-size: inherit;
  font-weight: inherit;
  height: 44px;
  justify-content: center;
  margin: 0;
  min-width: 44px;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: transform 0.1s cubic-bezier(0.55, 0, 1, 0.45);
  white-space: normal;
}
.ag5_5_0-a1 {
  height: 24px;
  min-width: 24px;
}
.ag5_5_0-a2 {
  height: 32px;
  min-width: 32px;
}
.ag5_5_0-a3 {
  border-radius: 12px;
  height: 40px;
  min-width: 40px;
}
.ag5_5_0-a4 {
  border-radius: 12px;
  height: 56px;
  min-width: 56px;
}
.ag5_5_0-a5 {
  border-radius: 16px;
  height: 72px;
  min-width: 72px;
}
.ag5_5_0-a6 {
  border-radius: 50%;
}
.ag5_5_0-a7 {
  background-color: var(--bgActionPrimary);
  color: var(--graphicPrimaryOnDark);
}
.ag5_5_0-a7 .ag5_5_0-a {
  background-color: var(--graphicPrimaryOnDark);
}
.ag5_5_0-a8 {
  background-color: var(--bgActionSecondary);
  color: var(--graphicActionPrimary);
}
.ag5_5_0-a8 .ag5_5_0-a {
  background-color: var(--graphicActionPrimary);
}
.ag5_5_0-a9 {
  background-color: var(--bgAccentPrimary);
  color: var(--graphicPrimaryOnDark);
}
.ag5_5_0-a9 .ag5_5_0-a {
  background-color: var(--graphicPrimaryOnDark);
}
.ag5_5_0-b {
  background-color: var(--bgAccentSecondary);
  color: var(--graphicAccentPrimary);
}
.ag5_5_0-b .ag5_5_0-a {
  background-color: var(--graphicAccentPrimary);
}
.ag5_5_0-b0 {
  background-color: var(--bgNegativeSecondary);
  color: var(--graphicNegativePrimary);
}
.ag5_5_0-b0 .ag5_5_0-a {
  background-color: var(--graphicNegativePrimary);
}
.ag5_5_0-b1 {
  background-color: var(--bgSecondary);
  color: var(--graphicTertiary);
}
.ag5_5_0-b1 .ag5_5_0-b2 {
  opacity: 0.4;
}
.ag5_5_0-b1 .ag5_5_0-a {
  background-color: var(--graphicTertiary);
}
.ag5_5_0-b1,
.ag5_5_0-b3 {
  cursor: default;
}
@media (hover: hover) {
  .ag5_5_0-a:not(.ag5_5_0-b4):hover {
    opacity: 0.1;
  }
}
